/* styles.css */
:root {
    --primary-color: #4285f4;
    --secondary-color: hsl(210, 100%, 70%);
    --text-color: rgba(0, 0, 0, 0.87);
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1rem;
    color: var(--text-color, black); 
  }